
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 342 28% 14%;
    --foreground: 0 0% 98%;

    --card: 342 28% 18%;
    --card-foreground: 0 0% 98%;

    --popover: 342 28% 18%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 342 28% 14%;

    --secondary: 342 18% 26%;
    --secondary-foreground: 0 0% 98%;

    --muted: 342 18% 26%;
    --muted-foreground: 342 5% 65%;

    --accent: 342 18% 26%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 342 18% 26%;
    --input: 342 18% 26%;
    --ring: 342 18% 85%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-crypto-dark text-foreground;
  }
}

@layer components {
  .grid-item {
    @apply rounded-lg p-4 bg-crypto-card shadow-md;
  }
}
